@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* iOS Safariの下部固定ボタン対応用のスタイル */

/* 基本の下部固定スタイル */
.ios-bottom-fix {
    bottom: env(safe-area-inset-bottom); /* セーフエリアの値を適用 */
}

.safari-bottom-fix {
    height: 89vh;
}

.chrome-bottom-fix {
    height: 86vh;
}

.hoge {
  padding-bottom: calc(env(safe-area-inset-bottom));
}

.eq-bar {
    width: 3px;
    background: white;
    border-radius: 2px;
    animation: eq 1.1s infinite ease-in-out;
}

.eq-1 {
    animation-delay: 0s;
}

.eq-2 {
    animation-delay: 0.15s;
}

.eq-3 {
    animation-delay: 0.3s;
}

@keyframes eq {
    0% {
        height: 30%;
        opacity: 0.7;
    }

    50% {
        height: 100%;
        opacity: 1;
    }

    100% {
        height: 30%;
        opacity: 0.7;
    }
}
